/* h1 {
    font-size: 200;
    padding: 350px;
    border-style: groove;
    border-color: lightgrey;
    text-align: center;
    border-width: 20px;
    color: lightblue;
    text-shadow: 10px, 10px;
    box-shadow: 5px, 5px;
    background-image: url("https://i.ytimg.com/vi/eDqj_YmWIaw/maxresdefault.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
  }*/

video {
  width: 100%;
  margin-top: 10px;
  text-shadow: 10px, 10px;
  box-shadow: 5px, 5px;
}

#slogan {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

h3 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

p {
  text-align: center;
  font-size: 15px;
  font-style: oblique;

}

.body {
  margin-left: 100px;
  margin-right: 100px;
}